input,textarea{
  padding-right: 10px;
}
.factor{
  border: 1px solid gainsboro;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px 5%;


  .downloadCourse{
    border: transparent;
    border-radius: 10px;
    background-color: #20A747;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 30px;
  }
  .line-brake{
    color: darkgray;
    margin: 25px;
    font-size: 23px;

    a{
      color: whitesmoke;
    }
  }
  .factor_info{
    text-align: right;
    padding-top: 20px;
    li{
      display: inline;
      float: left;
    }
    ul{
      float: right;
    }
  }
  .course_img{
    width: 110px;
    height: 90px;
    margin: 10px;
    margin-left: 30px;
  }
  .factor_right{
    display: flex;
    float: right;
    flex-direction: row-reverse;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 992px) {
  #firstFactor {
    margin-top: 100px;
  }
}

.factor:last-of-type{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#headline{

  border: 1px solid gainsboro;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 10% 5% 0;
}
