@font-face {
    font-family: BYekan;
    src: url('../fonts/Yekan.ttf');
}
*{
    font-family:'BYekan',Sans-Serif;
}

input,textarea{
    padding-right: 10px;
}

body{
    height: 100%;
    overflow-x: hidden;
    font-weight: 300;
    direction: rtl;
    margin: 0;
}
html{
    overflow-x: hidden;
    overflow-y: hidden;
}


/******************
responsive side bar
*******************/

@media(max-width:850px){
    .col-xs-4.pull-left.exit_up{
        margin-left: 1%;
    }
}
@media(max-width:780px){
    .set_fa{
        margin-right: 50%;
    }
    .xs_pr{
        margin-right: 38%;
    }
}
@media(max-width:576px){
    .admin_side_title{
        font-size: 11px;
    }
    .zhenic_title{
        font-size: 22px;
    }
    .input_label{
        font-size: 14px;
    }
    .send_btn{
        font-size: 16px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 7px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 7px;
    }
    .button_box{
        padding-top: 30%;
    }
}
@media(min-width:577px){
    .admin_side_title{
        font-size: 12px;
    }
    .zhenic_title{
        font-size: 24px;
    }
    .input_label{
        font-size: 15px;
    }
    .send_btn{
        font-size: 18px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 11px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 11px;
    }
}
@media(min-width:768px){
    .admin_side_title{
        font-size: 13px;
    }
    .zhenic_title{
        font-size: 26px;
    }
    .input_label{
        font-size: 16px;
    }
    .send_btn{
        font-size: 20px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 12px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 12px;
    }
}
@media(min-width:992px){
    .admin_side_title{
        font-size: 14px;
    }
    .zhenic_title{
        font-size: 28px;
    }
    .input_label{
        font-size: 18px;
    }
    .send_btn{
        font-size: 22px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 13px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 13px;
    }
}
@media(min-width:1200px){
    .admin_side_title{
        font-size: 15px;
    }
    .zhenic_title{
        font-size: 30px;
    }
    .input_label{
        font-size: 20px;
    }
    .send_btn{
        font-size: 24px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 15px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 15px;
    }
}
/****-----
scroll bar
------****/
.height_vh{
    height: 130vh;
}
.scrollbar{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    margin-right: -1%;
}
.scroll_padding{
    padding-left: 0;
    margin-left: -3px;
    padding-right: 0;

}
.margin_right_2nd_title{
    margin-right: 3%;
    margin-top: 7%;
}

/******-------
  head button
--------******/

.adv_btn{
    border-radius: 20px;
    background-color: #a85c5c;
    color: white;
    margin-left: 20%;
}

/*****----
  table
------****/

.table_padding{
    padding-right: 5.4%;
    padding-left: 5.5%;
    margin-top: 2%;
}
.table-bordered>tbody>tr>td{
    text-align: center;
    font-weight: 500;
}
.table-bordered>tbody>tr>td.upper_td{
    padding-top: 2.0%;
}
.table-bordered>tbody>tr.gray_back_color{
    background-color: #f4f4f4;
}
.one_row_table{
    padding-top: 0%;
    padding-bottom: 0;
    padding-right: 4.8%;
}
.date{
    color: darkgray;
}
.name_h{
    margin-right: 0;
}
.more_exp_tb{
    margin-right: 4%;
    direction: rtl;
    text-align: right
}
.table_title{
    margin-top: 2%;
}
.table>thead:first-child>tr:first-child>th {
    text-align: right;
    color: white;
    background-color: #252525;
    font-weight: 400;
    border: 1px solid transparent;
    padding-right: 2.4%;
}
/****-------------------
 dropDown menu in head
-------------------*****/
.test:after {
    content: '\2807';
    font-size: 1.5em;
    color: #2e2e2e;
}
.dropdown-menu{
    top: 0;
    padding-right: 20%;
    padding-left: 20%;
    margin-right: 100px;
}
.dropdown-menu>li>a{
    padding: 0;
    text-align: center;
}
.dropdown-menu{
    min-width: 100px;
}

/*****--------
  pagination
----------*****/

.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0;
}
.activate_pag.active{
    background-color: #0198d4;
}
.pagination>li>a{
    font-size: 15px;
    font-weight: 500;
}

/****-------------------
   responsive fontsize
--------------------*****/

@media(max-width: 543px){
    .padding_pagination{
        padding-right: 6%;
    }
    .table-bordered>tbody>tr>td,.table>thead:first-child>tr:first-child>th{
        font-size: 10px;
    }
    .list_title{
        font-size: 16px;
    }
    .adv_btn{
        font-size: 11px;
    }
    .pagination>li>a{
        font-size: 10px;
    }
    .icone_user{
        width: 30px;
        height: 30px;
        padding-right: 0;
    }
    .dropdown-menu>li>a {
        font-size: 10px;
    }
    .table-bordered>tbody>tr>td>span>h4>span.name_h{
        font-size: 15px;
    }
    .table-bordered>tbody>tr>td>span>h4>span.date{
        font-size: 11px;
    }
    .table-bordered>thead>tr>th>h4{
        font-size: 15px;
    }
    .badge{
        font-size: 8px;
        height: 11px;
        width: 11px;
    }
    .name_h,.date{
        font-size: 13px;
    }
}
@media(min-width: 544px){
    .padding_pagination{
        padding-right: 10%;
    }
    .table-bordered>tbody>tr>td,.table>thead:first-child>tr:first-child>th{
        font-size: 11px;
    }
    .list_title{
        font-size: 17px;
    }
    .adv_btn{
        font-size: 12px;
    }
    .pagination>li>a{
        font-size: 12px;
    }
    .icone_user{
        width: 40px;
        height: 40px;
        padding-right: 0;
    }
    .table-bordered>tbody>tr>td>span>h4>span.name_h{
        font-size: 17px;
    }
    .table-bordered>tbody>tr>td>span>h4>span.date{
        font-size: 13px;
    }
    .table-bordered>thead>tr>th>h4{
        font-size: 18px;
    }
    .badge{
        font-size: 9px;
        height: 13px;
        width: 13px;
    }
    .name_h,.date{
        font-size: 14px;
    }
}

@media(min-width: 768px){
    .padding_pagination{
        padding-right: 12%;
    }
    .table-bordered>tbody>tr>td,.table>thead:first-child>tr:first-child>th{
        font-size: 12px;
    }
    .list_title{
        font-size: 18px;
    }
    .adv_btn{
        font-size: 13px;
    }
    .pagination>li>a{
        font-size: 13px;
    }
    .icone_user{
        width: 50px;
        height: 50px;
        padding-right: 0;
    }
    .table-bordered>tbody>tr>td>span>h4>span.name_h{
        font-size: 18px;
    }
    .table-bordered>tbody>tr>td>span>h4>span.date{
        font-size: 15px;
    }
    .table-bordered>thead>tr>th>h4{
        font-size: 19px;
    }
    .badge{
        font-size: 10px;
        height: 15px;
        width: 15px;
    }
    .name_h,.date{
        font-size: 15px;
    }

}
.padding_pagination{
    margin-bottom: 100px;
    margin-top: 1%;
}

@media(min-width: 1150px){
    .padding_pagination{
        padding-right: 5.5%;
    }
    .table-bordered>tbody>tr>td,.table>thead:first-child>tr:first-child>th{
        font-size: 13px;
    }
    .list_title{
        font-size: 19px;
    }
    .adv_btn{
        font-size: 14px;
    }
    .pagination>li>a{
        font-size: 14px;
    }
    .icone_user{
        width: 50px;
        height: 50px;
        padding-right: 0;
    }
    .table-bordered>tbody>tr>td>span>h4>span.name_h{
        font-size: 19px;
    }
    .table-bordered>tbody>tr>td>span>h4>span.date{
        font-size: 15px;
    }
    .table-bordered>thead>tr>th>h4{
        font-size: 20px;
    }
    .badge{
        font-size: 11px;
        height: 18px;
        width: 18px;
    }
    .name_h,.date{
        font-size: 18px;
    }

}
@media(min-width: 1200px){
    .padding_pagination{
        padding-right: 5.5%;
    }
    .table-bordered>tbody>tr>td,.table>thead:first-child>tr:first-child>th{
        font-size: 14px;
    }
    .list_title{
        font-size: 20px;
    }
    .adv_btn{
        font-size: 15px;
    }
    .pagination>li>a{
        font-size: 15px;
    }
    .icone_user{
        width: 45px;
        height: 45px;
    }
    .table-bordered>tbody>tr>td>span>h4>span.name_h{
        font-size: 20px;
    }
    .table-bordered>tbody>tr>td>span>h4>span.date{
        font-size: 16px;
    }
    .table-bordered>thead>tr>th>h4{
        font-size: 22px;
    }
    .badge{
        font-size: 12px;
        height: 20px;
        width: 20px;
    }
    .table_title{
        font-size: 20px;
    }
    .name_h,.date{
        font-size: 19px;
    }
}
.icone_user{
    margin-top: 0.4%;
}

/****-----
   badge
-----*****/

.badge{
    color: black;
    background-color: white;
    margin-top: -3%;
    padding-top: 4%;
}
.col-md-11.col-xs-10{
    padding-right: 0;
}
.col-md-1.col-xs-2{
    padding-left: 0;
}
/***--------------------
      search form
---------------------***/
.searh_box{
    padding-right: 18%;
    padding-left: 20%;
    padding-top: 5%;
}
input[type="text"] {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.inputSearch{
    border: hidden;
    border: 1px solid transparent;
    border-bottom: 1px solid #252525;
    border-radius: 0;
}
input[type="text"]:focus,
.inputSearch:focus {   
    border-color: transparent;
    box-shadow: 0 1px 1px transparent;
    outline: 0 none;
    border-bottom: 1px solid #252525;
}
.input-group-addon{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #252525;
}
.a_search{
    color: #252525; 
}
.btn_search_inside{
   padding-right: 8px;
    border: none; 
    background: none; 
}


