*{
  font-family:'BYekan',Sans-Serif;
}
.courseCard.card{
  border-radius: 10px;
  margin-bottom: 25px;
    border-bottom-width: 0px;
}
.courseCard .card-block{
  padding: 0.9rem;
  padding-bottom: 0px;
}
.courseCard .card-img-top{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 170px;
    filter: brightness(85%);
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.myCountainer{
  margin: 30px;
}
.card-text{
    font-size: 13px !important;
}
.card-title,.card-text,p{
  direction: rtl;
}
.card-item{
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.card-item:nth-of-type(1){
  z-index: 0;
  border-left: 1px solid gray;
  background-color: #1E4156;
  border-right: 1px solid gray;
  border-bottom-left-radius: 10px;
}
.card-item:nth-of-type(1) p{
  color: white;
}
.card-item:nth-of-type(2){
  border-left: 0px solid gray;
  border-right: 0px solid gray;
  background-color: #EAEBEC;
}
.card-item:nth-of-type(3){
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom-right-radius: 10px;
  background-color: #EAEBEC;
}
.card-item p{
  text-align: center;
  margin: 15px auto;
  font-size: 15px;
}
.topCard{
    /*position: absolute;*/
    right: 0px;
    left: 0px;
    margin-top: -150px;
    margin-bottom: 90px;
}
.topCard p{
    text-align: center;
    color: white;
}
.jalaseCounts{
    margin-top: 15px;
}
.instructor_img{
    border: 2px solid white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.card-title a{
    color: #222222 !important;
}
.cardLink{
    direction: ltr;
}
.cardLink a{
    color: #222;
}
.cardLink a:hover{
    text-decoration: none;
}